<div class="reset-container">
    <mat-card class="reset-card">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" type="password" required>
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
            This field is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm New Password</mat-label>
          <input matInput formControlName="confirmNewPassword" type="password" required>
          <mat-error *ngIf="resetPasswordForm.get('confirmNewPassword')?.errors?.['required']">
            This field is required.
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch')">
            Passwords do not match.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
      </form>
    </mat-card>
  </div>