.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%; 
    border-bottom: 2px solid white;
    padding-left: 2%;
    padding-right: 2%;
  }
  

  
  .center-button {
    flex: 0 1 6%; 
    text-align: center;
    height: 40%;
  }
  
.center-button {
    width: 100%; 
    border-radius: 1rem;
  }
  
.center 
{
    height: 60%;
    flex: 0 1 12%;
    height: 60%;
}


