.profile-wraper {
    width: 80%; 
    padding: 1%; 
    margin: 0 auto; 
    display: flex;
    align-items: center; 
  }

  .profile-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    gap: 2rem;
  }
  
  .profile-photo {
    width: 7vw; 
    height: 7vw; 
    border-radius: 50%;
    background-color: #f0f0f0; 
    background-size: cover;
    background-position: center;
    border: 1px solid violet;
  }