
<section class="background" >
<div class="welcomeWrap">
    <div class="Options">
        <button class="sign" (click)="showForm('sign')">Sign in</button>
        <button class="register" (click)="showForm('register')">Register</button>
        <button class="forgotPassword" (click)="showForm('forgot')">Forgot password</button>
      </div>
      <div class="formPage">
        <app-sign-in *ngIf="currentForm === 'sign'"></app-sign-in>
        <app-register *ngIf="currentForm === 'register'"></app-register>
        <app-forgot-password *ngIf="currentForm === 'forgot'"></app-forgot-password>
      </div>
</div>
</section>