.profile-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  height: 100%; 
}

.employer-first-line-wraper 
{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  padding: 2rem;
}